<ion-header>
  <ion-toolbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher (ionRefresh)="reloadDataViaRefresher($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Refresh" refreshingSpinner="circles">
    </ion-refresher-content>
  </ion-refresher>
  <header class="mainScr mid">
    <h1>
      Ежедневное расписание <br/> {{scheduleToday.day}}
    </h1>
  </header>
  <article class="cusContent">
    <!-- <img [src]="scheduleToday.breakdown" style="width: 100%"/> -->
    <div *ngIf="isEventNotYetStarted">**Event not yet started**</div>
    <div *ngIf="isEventAlreadyFinished">**Thank you for participating**</div>
    <div *ngIf="isScheduleShown" class="table">
      <div class="item" *ngFor="let event of events">
        <div class="inner-item">
          <h4>{{event}}</h4>
        </div>
      </div>
    </div>
  </article>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-buttons start>
      <button [navPush]="TheSpeakersPageRU" ion-button icon-left>
        <ion-icon name="arrow-back"></ion-icon>
        Спикеры
      </button>
    </ion-buttons>
    <ion-buttons end>
      <button [navPush]="Dubai101PageRU" ion-button icon-right>
        Дубай 101
        <ion-icon ios="ios-arrow-forward" name="arrow-forward"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>